<div class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-[#06345F]" [ngClass]="{ 'expanded': isExpanded }">
    <div class="text-gray-100 text-xl">
      <div class="p-2.5 mt-1 flex items-center">
      <h1 class="font-bold text-gray-200 text-[15px] ml-3">
        Biblioweb UNAS
      </h1>
      <div class="ml-20 cursor-pointer lg:hidden " (click)="handleSidebarToggle()"><mat-icon matSuffix>close</mat-icon></div>
      </div>
      
    </div>


        <div [routerLink]="['/home']" [routerLinkActive]="'active'">
          <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-600 text-white">
            <mat-icon matSuffix>home</mat-icon>
            <span class="text-[15px] ml-4 text-gray-200">Home</span>
          </div>
        </div>
    
        <div [routerLink]="['/list']" [routerLinkActive]="'active'">
          <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-600 text-white">
            <mat-icon matSuffix>library_books</mat-icon>
            <span class="text-[15px] ml-4 text-gray-200">Solicitud de Libros</span>
          </div>
        </div>
     
   
        <div [routerLink]="['/reserve']" [routerLinkActive]="'active'">
          <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-600 text-white">
            <mat-icon matSuffix>badge</mat-icon>
            <span class="text-[15px] ml-4 text-gray-200">Solicitud de Carnets</span>
          </div>
        </div>
      
      
        <div [routerLink]="['/suggest']" [routerLinkActive]="'active'">
          <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-600 text-white">
            <mat-icon matSuffix>display_settings  </mat-icon>
            <span class="text-[15px] ml-4 text-gray-200">Estados de Solicitud</span>
          </div>
        </div>

</div>