<span>IBER está haciendo...</span>
<!-- Slider main container -->
<swiper-container pagination="false" effect="coverflow" 
grab-cursor="true" centered-slides="false" slides-per-view="2" 
coverflow-effect-rotate="0" coverflow-effect-stretch="100" 
coverflow-effect-depth="200" coverflow-effect-modifier="1" 
coverflow-effect-slide-shadows="false" [navigation]="true" [pagination]="{clickable: true}">
  <swiper-slide><app-card></app-card></swiper-slide>
  <swiper-slide><app-card></app-card></swiper-slide>
  <swiper-slide><app-card></app-card></swiper-slide>
  <swiper-slide><app-card></app-card></swiper-slide>
  <swiper-slide><app-card></app-card></swiper-slide>
</swiper-container>
