<swiper-container pagination="false" effect="coverflow" 
grab-cursor="true" centered-slides="true" slides-per-view="3" 
coverflow-effect-rotate="0" coverflow-effect-stretch="200" 
coverflow-effect-depth="200" coverflow-effect-modifier="1" 
coverflow-effect-slide-shadows="true" [navigation]="true" [pagination]="{clickable: true}">
  <swiper-slide> 
  
    <div class="w-40 p-4 bg-slate-100 text-center">
      <img src="../../../assets/img/img_1.jpg" alt=".jpg">
      <p class="text-lg leading-none font-serif">Hasta que el verano se acabe</p> 
      <p class="pt-2 font-serif text-sm leading-none text-zinc-400 text-start">- Connor Hamilton</p>
      <button class="rounded-full hover:bg-blue-900 hover:text-zinc-300 text-sm border-2 border-blue-900 p-2 px-4 mt-2 text-blue-900">Reservar</button>
    </div>
  
  </swiper-slide>
  <swiper-slide>

    <div class="w-40 p-4 bg-slate-100 text-center">
      <img src="../../../assets/img/img_2.jpg" alt=".jpg">
      <p class="text-lg leading-none font-serif">Hasta que el verano se acabe</p> 
      <p class="pt-2 font-serif text-sm leading-none text-zinc-400 text-start">- Connor Hamilton</p>
      <button class="rounded-full hover:bg-blue-900 hover:text-zinc-300 text-sm border-2 border-blue-900 p-2 px-4 mt-2 text-blue-900">Reservar</button>
    </div>

  </swiper-slide>
  <swiper-slide>

    <div class="w-40 p-4 bg-slate-100 text-center">
      <img src="../../../assets/img/img_3.jpg" alt=".jpg">
      <p class="text-lg leading-none font-serif">Hasta que el verano se acabe</p> 
      <p class="pt-2 font-serif text-sm leading-none text-zinc-400 text-start">- Connor Hamilton</p>
      <button class="rounded-full hover:bg-blue-900 hover:text-zinc-300 text-sm border-2 border-blue-900 p-2 px-4 mt-2 text-blue-900">Reservar</button>
    </div>

  </swiper-slide>
  <swiper-slide>

    <div class="w-40 p-4 bg-slate-100 text-center">
      <img src="../../../assets/img/img_4.jpg" alt=".jpg">
      <p class="text-lg leading-none font-serif">Hasta que el verano se acabe</p> 
      <p class="pt-2 font-serif text-sm leading-none text-zinc-400 text-start">- Connor Hamilton</p>
      <button class="rounded-full hover:bg-blue-900 hover:text-zinc-300 text-sm border-2 border-blue-900 p-2 px-4 mt-2 text-blue-900">Reservar</button>
    </div>

  </swiper-slide>
  <swiper-slide>

    <div class="w-40 p-4 bg-slate-100 text-center">
      <img src="../../../assets/img/img_5.jpg" alt=".jpg">
      <p class="text-lg leading-none font-serif">Hasta que el verano se acabe</p> 
      <p class="pt-2 font-serif text-sm leading-none text-zinc-400 text-start">- Connor Hamilton</p>
      <button class="rounded-full hover:bg-blue-900 hover:text-zinc-300 text-sm border-2 border-blue-900 p-2 px-4 mt-2 text-blue-900">Reservar</button>
    </div>

  </swiper-slide>
</swiper-container>
