<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="flex">
  <!-- Columna 1: Cuadro de contenido -->
  <div class="w-2/3 px-5 py-3 ">


    <div class=" mt-8 mx-auto  max-w-2xl ">

      <!-----------publicar------------->
      <div class=" bg-white rounded-lg shadow-lg mb-4 px-5 py-3 ">

        <div class="flex mb-4 ">
          <div class="flex">
            <p class="font-semibold">Título de la publicación</p>

            <input type="text" class="w-full px-2 py-1  border rounded mt-3 ml-5 " placeholder="Título...">
          </div>
        </div>

        <div class="border-t border-gray-300 pt-4">

          <div class="flex">
            <input type="text" class="w-full px-2 py-4 border rounded mt-1 ml-3"
              placeholder="Contenido de la publicación...">
            <button class="bg-[#06345F] text-white px-4 py-2 mb-2 mt-8 ml-3 rounded ">Publicar</button>
          </div>
        </div>


      </div>
      <!-- primera publicacion-->

      <div class="bg-white rounded-lg shadow-lg px-5 py-3 mb-4 ">

        <div class="flex items-center mb-4">
          <img class="w-10 h-10 rounded-full mr-2"
            src="https://images.pexels.com/photos/91224/pexels-photo-91224.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="Usuario">
          <div>
            <p class="font-semibold">Jhimi marcelo Luyo</p>
            <p class="text-gray-600">hace 3 min.</p>
          </div>
        </div>

        <p class="text-gray-800 mb-4">
          ¡Echen un vistazo a este video de YouTube! este contenido te ayudará a mejorar tus habilidades y a entender
          cómo interactuar con APIs para obtener datos valiosos.
          <a href="https://www.youtube.com/watch?v=HUJYUOV0YTI&amp;t=408s&amp;ab_channel=RoCode"
            class="text-blue-500 hover:underline">https://www.youtube.com/watch?v=HUJYUOV0YTI&amp;t=408s&amp;ab_channel=RoCode</a>.
        </p>

        <div class="border-t border-gray-300 pt-4">

          <div class="flex">
            <input type="text" class="w-full px-2 py-1 border rounded mt-3 ml-3" placeholder="Escribe un comentario...">
            <button class="bg-[#06345F] text-white px-4 py-2 rounded mt-3 ml-3">Publicar</button>
          </div>
        </div>

        <div class="flex items-center mt-4">
          <button class="text-gray-600 hover:text-blue-500 mr-2">
            <span class="material-symbols-outlined">
              thumb_up

            </span>

            <i class="fas fa-thumbs-up"></i> <!-- Este es el icono de pulgar arriba -->
            Me gusta

          </button>
          <button class="text-gray-600 hover:text-blue-500 ">
            <span class="material-symbols-outlined">
              comment
            </span>
            <i class="fas fa-comment"></i> <!-- Este es el icono de comentar -->
            Comentar
          </button>
        </div>
      </div>
      <!-- segunda publicacion-->
      <div class=" bg-white rounded-lg shadow-lg mb-4 px-5 py-3 ">

        <div class="flex items-center mb-4">
          <img class="w-10 h-10 rounded-full mr-2"
            src="https://www.blogdelfotografo.com/wp-content/uploads/2022/01/bici-perfil.webp" alt="Usuario">
          <div>
            <p class="font-semibold">Kevin Sanchez Cabrera</p>
            <p class="text-gray-600">hace 15 min.</p>
          </div>
        </div>

        <p class="text-gray-800 mb-4">
          Este contenido te ayudará a mejorar tus habilidades y a entender cómo interactuar con APIs para obtener datos
          valiosos.
          <a href="https://www.youtube.com/watch?v=HUJYUOV0YTI&amp;t=408s&amp;ab_channel=RoCode"
            class="text-blue-500 hover:underline">https://www.youtube.com/watch?v=HUJYUOV0YTI&amp;t=408s&amp;ab_channel=RoCode</a>.
        </p>

        <div class="border-t border-gray-300 pt-4">

          <div class="flex">
            <input type="text" class="w-full px-2 py-1 border rounded mt-3 ml-3" placeholder="Escribe un comentario...">
            <button class="bg-[#06345F] text-white px-4 py-2 rounded mt-3 ml-3">Publicar</button>
          </div>
        </div>

        <div class="flex items-center mt-4">
          <button class="text-gray-600 hover:text-blue-500 mr-2">
            <span class="material-symbols-outlined">
              thumb_up

            </span>

            <i class="fas fa-thumbs-up"></i> <!-- Este es el icono de pulgar arriba -->
            Me gusta

          </button>
          <button class="text-gray-600 hover:text-blue-500 ">
            <span class="material-symbols-outlined">
              comment
            </span>
            <i class="fas fa-comment"></i> <!-- Este es el icono de comentar -->
            Comentar
          </button>
        </div>
      </div>
      <!-- tercera publicacion-->

      <div class="bg-white rounded-lg shadow-lg px-5 py-3 mb-4 ">

        <div class="flex items-center mb-4">
          <img class="w-10 h-10 rounded-full mr-2"
            src="https://images.pexels.com/photos/91224/pexels-photo-91224.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="Usuario">
          <div>
            <p class="font-semibold">Jhimi marcelo Luyo</p>
            <p class="text-gray-600">hace 30 min.</p>
          </div>
        </div>

        <p class="text-gray-800 mb-4">
          ¡Echen un vistazo a este video de YouTube! este contenido te ayudará a mejorar tus habilidades y a entender
          cómo interactuar con APIs para obtener datos valiosos.
          <a href="https://www.youtube.com/watch?v=HUJYUOV0YTI&amp;t=408s&amp;ab_channel=RoCode"
            class="text-blue-500 hover:underline">https://www.youtube.com/watch?v=HUJYUOV0YTI&amp;t=408s&amp;ab_channel=RoCode</a>.
        </p>

        <div class="border-t border-gray-300 pt-4">

          <div class="flex">
            <input type="text" class="w-full px-2 py-1 border rounded mt-3 ml-3" placeholder="Escribe un comentario...">
            <button class="bg-[#06345F] text-white px-4 py-2 rounded mt-3 ml-3">Publicar</button>
          </div>
        </div>

        <div class="flex items-center mt-4">
          <button class="text-gray-600 hover:text-blue-500 mr-2">
            <span class="material-symbols-outlined">
              thumb_up

            </span>

            <i class="fas fa-thumbs-up"></i> <!-- Este es el icono de pulgar arriba -->
            Me gusta

          </button>
          <button class="text-gray-600 hover:text-blue-500 ">
            <span class="material-symbols-outlined">
              comment
            </span>
            <i class="fas fa-comment"></i> <!-- Este es el icono de comentar -->
            Comentar
          </button>
        </div>
      </div>
      <!-- cuarta publicacion-->

      <div class="bg-white rounded-lg shadow-lg px-5 py-3 mb-4 ">

        <div class="flex items-center mb-4">
          <img class="w-10 h-10 rounded-full mr-2"
            src="https://images.pexels.com/photos/447329/pexels-photo-447329.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="Usuario">
          <div>
            <p class="font-semibold">Iberson Silva</p>
            <p class="text-gray-600">hace 35 min.</p>
          </div>
        </div>

        <p class="text-gray-800 mb-4">
          ¡Echen un vistazo a este video de YouTube! este contenido te ayudará a mejorar tus habilidades y a entender
          cómo interactuar con APIs para obtener datos valiosos.
          <a href="https://www.youtube.com/watch?v=HUJYUOV0YTI&amp;t=408s&amp;ab_channel=RoCode"
            class="text-blue-500 hover:underline">https://www.youtube.com/watch?v=HUJYUOV0YTI&amp;t=408s&amp;ab_channel=RoCode</a>.
        </p>

        <div class="border-t border-gray-300 pt-4">

          <div class="flex">
            <input type="text" class="w-full px-2 py-1 border rounded mt-3 ml-3" placeholder="Escribe un comentario...">
            <button class="bg-[#06345F] text-white px-4 py-2 rounded mt-3 ml-3">Publicar</button>
          </div>
        </div>

        <div class="flex items-center mt-4">
          <button class="text-gray-600 hover:text-blue-500 mr-2">
            <span class="material-symbols-outlined">
              thumb_up

            </span>

            <i class="fas fa-thumbs-up"></i> <!-- Este es el icono de pulgar arriba -->
            Me gusta

          </button>
          <button class="text-gray-600 hover:text-blue-500 ">
            <span class="material-symbols-outlined">
              comment
            </span>
            <i class="fas fa-comment"></i> <!-- Este es el icono de comentar -->
            Comentar
          </button>
        </div>
      </div>

       <!-- 5ta publicacion-->

       <div class="bg-white rounded-lg shadow-lg px-5 py-3 mb-4 ">

        <div class="flex items-center mb-4">
          <img class="w-10 h-10 rounded-full mr-2"
            src="https://images.pexels.com/photos/447329/pexels-photo-447329.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="Usuario">
          <div>
            <p class="font-semibold">Henry Tirado</p>
            <p class="text-gray-600">hace 35 min.</p>
          </div>
        </div>

        <p class="text-gray-800 mb-4">
          ¡Echen un vistazo a este video de YouTube! este contenido te ayudará a mejorar tus habilidades y a entender
          cómo interactuar con APIs para obtener datos valiosos.
          <a href="https://www.youtube.com/watch?v=HUJYUOV0YTI&amp;t=408s&amp;ab_channel=RoCode"
            class="text-blue-500 hover:underline">https://www.youtube.com/watch?v=HUJYUOV0YTI&amp;t=408s&amp;ab_channel=RoCode</a>.
        </p>

        <div class="border-t border-gray-300 pt-4">

          <div class="flex">
            <input type="text" class="w-full px-2 py-1 border rounded mt-3 ml-3" placeholder="Escribe un comentario...">
            <button class="bg-[#06345F] text-white px-4 py-2 rounded mt-3 ml-3">Publicar</button>
          </div>
        </div>

        <div class="flex items-center mt-4">
          <button class="text-gray-600 hover:text-blue-500 mr-2">
            <span class="material-symbols-outlined">
              thumb_up

            </span>

            <i class="fas fa-thumbs-up"></i> <!-- Este es el icono de pulgar arriba -->
            Me gusta

          </button>
          <button class="text-gray-600 hover:text-blue-500 ">
            <span class="material-symbols-outlined">
              comment
            </span>
            <i class="fas fa-comment"></i> <!-- Este es el icono de comentar -->
            Comentar
          </button>
        </div>
      </div>
    </div>
  </div>


  
  <!-- Columna 2: Imagen -->
  <div class="w-1/3 mt-8 ml-4 ">

    <div class="bg-[#06345F] rounded-lg shadow-lg pl-24 pb-1 pt-3 mb-4 max-w-xs mx-auto ">

      <div class="flex items-center mb-4">
        <div>
          <p class="font-semibold text-white text-xl">NOVEDADES</p>

        </div>
      </div>


    </div>

    <div class="bg-white rounded-lg shadow-lg max-w-md mb-8 ">
      <img class="w-full h-auto"
        src="https://www.biblio.unlp.edu.ar/frontend/media/75/43575/big_f67c2c4c2d92071cbc5cb5b2fe323893.jpg"
        alt="Imagen">
    </div>
    <div class=" rounded-lg shadow-lg max-w-md mb-8 ">
      <img class="w-full h-auto" src="https://www.bnp.gob.pe/wp-content/uploads/2020/08/unesco.jpg" alt="Imagen">
    </div>

  </div>

</div>