<div class="p-6">
  <div class="flex flex-row justify-center">
    <form class="example-form rounded-full">
        <mat-form-field class="example-full-width">
          <mat-label>Buscar</mat-label>
          <input matInput placeholder="Matemática, Programación,etc.">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </form>
    <button class="m-2 bg-[#06345F] text-white w-20 h-10 rounded-full
    hover:bg-white hover:text-[#06345F] border hover:border-blue-900">{{ 'BUTTONS.SEARCH' | translate}}</button>
    <button class="m-2 bg-[#06345F] text-white w-20 h-10 rounded-full 
    hover:bg-white hover:text-[#06345F] border hover:border-blue-900">{{ 'BUTTONS.SUGGETS' | translate}}</button>
  </div>
  <!-- <h1 class="text-lg">Vistos recientemente</h1> -->
  <app-slider></app-slider> 
  <!-- <h1 class="text-lg m-10">Nuevas adquisiciones</h1> -->
  <!-- <app-slider></app-slider>  -->
</div>